<h1 class="form-group">Stupid Coaching</h1>


<p class="form-group"><%=@question%></p>
<p class="form-group">-You</p>
<div class="answer">
<p><%=@result%></p>
<p>-Your coach</p>
</div>
<%= link_to "ask again", form_path, class:"link" %>
